
<div class="blog-section bg-black">
  <div class="blogs-container w-full mx-auto my-0">
    <div class="header-section flex flex-row items-center sm:justify-center py-10">
      <h1 class="text-white px-[10px] sm:px-[10px] text-[24px] sm:text-[40px]">NEWS & UPDATES:</h1>  
    </div>
    <div class="blogs-block pb-20 max-w-[1200px] overflow-x-scroll mx-auto px-[10px] sm:px-10">
      <div class="flex flex-row items-center gap-6 lg:gap-10 mx-auto min-w-[1000px]">
        <div class="w-1/3 flex flex-col justify-between">
          <div class="flex flex-col justify-between text-white h-[200px]">
            <div class="blog-header text-[16px] sm:text-[18px]">Summer Relaxation Special</div>
            <div class="blog-text py-6 text-[12px]">Escape the summer heat and indulge in our Summer Relaxation Special! From August 15th to 30th, enjoy 20% off all massage treatments. Choose from our range of therapeutic massages, including Swedish, Deep Tissue, and Aromatherapy, and let our skilled therapists melt away your tension and stress.</div>
            <div class="blog-post-date flex flex-row justify-between">
              <div class="blog-date text-[14px]">August 15-30:</div>
              <div class="blog-navigate text-[14px] underline">READ MORE</div>
            </div>
          </div>
          <div class="blog-img h-[440px] pt-3 overflow-hidden">
            <a href="">
              <img class="w-full h-full object-cover justify-center" src="https://cdn.shopify.com/s/files/1/0900/4875/8049/files/unsplash_87InWldRhgs.png?v=1736324962" alt="">
            </a>
          </div>
        </div>
        <div class="w-1/3 flex flex-col justify-between">
          <div class="flex flex-col justify-between text-white h-[200px]">
            <div class="blog-header text-[16px] sm:text-[18px]">Skincare 101 Seminar</div>
            <div class="blog-text py-6 text-[12px]">Curious about how to achieve glowing, healthy skin? Our Skincare 101 Seminar on August 28th from 2:00 PM to 4:00 PM is perfect for you. Our expert estheticians will share tips on creating a personalized skincare routine, the importance of SPF, and how to choose the right products for your skin type.</div>
            <div class="blog-post-date flex flex-row justify-between">
              <div class="blog-date text-[14px]">August 28:</div>
              <div class="blog-navigate text-[14px] underline">READ MORE</div>
            </div>
          </div>
          <div class="blog-img h-[440px] pt-3 overflow-hidden">
            <video autoplay loop playsinline muted>
              <source class="w-full h-full object-cover justify-center" src="https://cdn.shopify.com/videos/c/o/v/2ee482a37bd3418885f936bb495600cc.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="w-1/3 flex flex-col justify-between">
          <div class="flex flex-col justify-between text-white h-[200px]">
            <div class="blog-header text-[16px] sm:text-[18px]">Yoga and Wellness Workshop</div>
            <div class="blog-text py-6 text-[12px]">Join us for a rejuvenating Yoga and Wellness Workshop on August 20th from 10:00 AM to 1:00 PM. This event will be held in our peaceful garden and includes a gentle yoga session, guided meditation, and a wellness talk on the benefits of incorporating mindfulness practices into your daily routine.</div>
            <div class="blog-post-date flex flex-row justify-between">
              <div class="blog-date text-[14px]">August 20:</div>
              <div class="blog-navigate text-[14px] underline">READ MORE</div>
            </div>
          </div>
          <div class="blog-img h-[440px] pt-3 overflow-hidden">
            <a href="">
              <img class="w-full h-full object-cover justify-center" src="https://cdn.shopify.com/s/files/1/0900/4875/8049/files/unsplash__ZZNuZxgv9o.png?v=1736324962" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>


{% schema %}
{
  "name": "Blog section",
  "settings": [
        
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Blog section"  
    }
  ]
}
{% endschema %}