<h1>Banner section</h1>

{% schema %}
{
    "name": "Banner",
    "settings": [
        {
            "type": "text",
            "id": "richtext",
            "label": "Text"
        }
    ],
    "blocks": [
        {
            "name": "Text",
            "type": "ichtext",
            "settings": [
                {
                    "type": "text",
                    "id": "richtext",
                    "label": "Text"
                }
            ] 
        }
    ],
    "presets": [
        {
            "name": "Banner"
        }
    ]
}
{% endschema %}
